= simple_form_for(@tune) do |f|
	= f.error_notification

	.form-inputs
		= f.association :user, :input_html => {:value => current_user.id}, :as => :hidden
		= f.association :artist, :as => :hidden
		= f.association :album, :as => :hidden
		= f.input :remote_id, :as => :hidden
		= f.input :description, :as => :hidden
		= f.input :year, :as => :hidden
		= f.input :time, :as => :hidden
		
		= f.input :name
		= f.input :playlist_tokens, data: {load: @tune.playlists}

	.modal-footer
		= f.button :submit, "Post"
