<!doctype html>
%html
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}
		%meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
		/ %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}
		%title= content_for?(:title) ? yield(:title) : "Tunepost"
		%meta{:content => "", :name => "description"}
		%meta{:content => "", :name => "author"}
		= stylesheet_link_tag		 "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		= yield(:head)
	%body
		/ #logo.well
		/ = render "layouts/player"
		#main{:role => "main"}
			.container-fluid
				.content
					.row-fluid
						#belly.span12
							/ = render 'layouts/messages'
							.tab-content
								#home.tab-pane.active
									= yield
								#radio.tab-pane
									#player_show.pull-right.hide.btn-mini.btn-inverse{:style=>""}
										%i.icon-arrow-down
									= render "layouts/player"
								#search.tab-pane
									= render :template => 'tunes/new.html'
								
								#recommendations.tab-pane
								
								#profile.tab-pane
							

					%footer
			/ ! end of .container
		/ ! end of #main
		.navbar.navbar-fixed-bottom
			%nav.navbar-inner
				.container-fluid
					= render 'layouts/navigation'
		#le_modal.modal.hide.fade
			.modal-header
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
				%h3 Modal Box
			.modal-body
			
			/ .modal-footer
			/		%a.btn{:href => "#"} Close
			/		%a.btn.btn-primary{:href => "#"} Save changes


