<!doctype html>
%html
	%head
		%meta{:charset => "utf-8"}
		%meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no", :name => "viewport"}
		%meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
		%meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}
		%title= content_for?(:title) ? yield(:title) : "Tunepost"
		%meta{:content => "", :name => "description"}
		%meta{:content => "", :name => "author"}
		= stylesheet_link_tag		 "application", :media => "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		= yield(:head)
	%body
		/ #logo.well
		#main{:role => "main"}
			.container-fluid
				/ = render 'layouts/messages'
				.content
					.row-fluid
						.span12
							= render 'layouts/messages'
							= yield
					%footer
		%header.navbar.navbar-fixed-bottom
			%nav.navbar-inner
				.container-fluid
					= render 'layouts/navigation'
			/ ! end of .container
		/ ! end of #main


